<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <h1>Hello Frontend Masters!</h1>
    <div id="app">
      <p v-if="message.length % 2 === 0">Even: {{message.toUpperCase()}}</p>
      <p v-else>Odd: {{message}}</p>
      <ul>
        <li v-for="{data, list} in listOfThings">
          {{data}}
          <ol>
            <li v-for="item in list">{{item}}</li>
          </ol>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue
      const app = createApp({
        data() {
          return {
            message: 'Hello from Vue',
            listOfThings: [
              {
                id: 1,
                data: `data ${Math.random()}`,
                list: [Math.random(), Math.random()],
              },
              {
                id: 2,
                data: `data ${Math.random()}`,
                list: [Math.random(), Math.random()],
              },
            ],
          }
        },
      })
      app.mount('#app')
    </script>
  </body>
</html>
